apiVersion: v2
name: nullplatform-base
description: >-
  A Helm chart for deploying the nullplatform base dependencies applications
  using Kubernetes
type: application
version: 2.30.1
appVersion: 2.30.1
dependencies:
  - name: metrics-server
    version: ^3.12.0
    repository: https://kubernetes-sigs.github.io/metrics-server
    condition: metricsServer.enabled
