apiVersion: v2
name: nullplatform-base
description: >-
  A Helm chart for deploying the nullplatform base dependencies applications
  using Kubernetes
type: application
version: 2.38.0
appVersion: 2.32.1
keywords:
  - nullplatform
  - base
  - kubernetes
  - metrics-server
home: https://nullplatform.com
sources:
  - https://github.com/nullplatform/helm-charts
maintainers:
  - name: Nullplatform
    email: support@nullplatform.com
dependencies:
  - name: metrics-server
    version: ^3.12.0
    repository: https://kubernetes-sigs.github.io/metrics-server
    condition: metricsServer.enabled
