{{- if not (lookup "v1" "Namespace" "" .Values.namespaces.nullplatformTools) }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespaces.nullplatformTools }}
  labels:
    name: {{ .Values.namespaces.nullplatformTools }}
  annotations:
    "helm.sh/hook": pre-install
    openshift.io/cluster-monitoring: "true"
{{- end }}
---
{{- if not (lookup "v1" "Namespace" "" .Values.namespaces.nullplatformApplications) }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespaces.nullplatformApplications }}
  labels:
    name: {{ .Values.namespaces.nullplatformApplications }}
  annotations:
    "helm.sh/hook": pre-install
{{- end }}
---
