{{- if eq .Values.global.provider "aro" }}
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: nullplatform-scc
allowHostDirVolumePlugin: true
allowHostPorts: true
allowHostPID: true
allowHostNetwork: true
allowPrivilegedContainer: false
allowedCapabilities: []
defaultAddCapabilities: []
priority: null
readOnlyRootFilesystem: false
requiredDropCapabilities: []
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: RunAsAny
fsGroup:
  type: RunAsAny
supplementalGroups:
  type: RunAsAny
volumes:
  - configMap
  - downwardAPI
  - emptyDir
  - hostPath
  - persistentVolumeClaim
  - projected
  - secret
users:
  - system:serviceaccount:nullplatform-tools:nullplatform-pod-metadata-reader-sa
groups: []
{{- end }}